@model realEstateWebApp.Models.BienModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sell an estate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TypeDeBien" class="control-label"></label>
                <select asp-for="TypeDeBien" class="form-control">
                    <option>Choisissez le type de bien</option>
                    <option>Terrain</option>
                    <option>Maison</option>
                    <option>Appartement</option>
                </select>
                <span asp-validation-for="TypeDeBien" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageDeBien" class="control-label"></label>
                <input asp-for="ImageDeBien" class="form-control" />
                <span asp-validation-for="ImageDeBien" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImagesDeBien" class="control-label"></label>
                <input asp-for="ImagesDeBien" class="form-control" />
                <span asp-validation-for="ImagesDeBien" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TypeDeTransaction" class="control-label"></label>
                <select asp-for="TypeDeTransaction" class="form-control">
                    <option>Choisissez le type de transaction</option>
                    <option>À louer</option>
                    <option>À vendre</option>
                </select>
                <span asp-validation-for="TypeDeTransaction" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Superficie" class="control-label"></label>
                <input asp-for="Superficie" class="form-control" />
                <span asp-validation-for="Superficie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
